# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run
/run-data/

#VSCODE
.vscode/


# Files from Forge MDK
forge*changelog.txt

/src/test/
/src/generated/


/src/main/resources/assets/aijbr/sounds-deprecated/ring/
/src/main/resources/assets/aijbr/models/block/container.json.old
/src/main/resources/assets/aijbr/models/block/container_open.json.old
/src/main/resources/assets/aijbr/textures/block/barrel_bottom-deprecated.png
